:root {
  --primary-light: #8ed1fc;
  --primary-main: #2d9cdb;
  --primary-dark: #0d6db3;
  --primary-contrast-text-light: #000;
  --primary-contrast-text-main: #fff;
  --primary-contrast-text-dark: #fff;

  --secondary-light: #80e8dd;
  --secondary-main: #00c1b5;
  --secondary-dark: #009388;
  --secondary-contrast-text-light: #000;
  --secondary-contrast-text-main: #fff;
  --secondary-contrast-text-dark: #fff;
}